/**
 * Place your custom styles here.
 */

/* Admin Backend */

/* **********GLOBAL FONT STYLING******** */
/* make all h2 skinnier */
h2 {
	font-weight:200;
}

/* make all h3 headlines skinnier */
h3 {
	font-weight:200;
}


/* **********FRONT PAGE *************** */
/* the footer */
.region-footer {
	text-align: right; /*align the EPSRC etc text to the right*/
}

/* LOGIN MENUS */
/* login menu in the footer */
.login-menu li {
	font-size: 0.9em;
	float: right;   /* position the menu links horizontally */
}

/* user login menu in the page header - don't display it!*/
.page-header, [role=navigation] .secondary {
	display:none;
}

/* the main menu navbar */
[role=navigation] .navbar-nav {
	float: right; /* position it to the right */
}

/* front page carousel text */
.front-page-carousel .carousel-caption {
        background-color: rgba(0,0,0,0.5); /* create dark overlay */
        font-size: 5em;
	right: 75.6%;
	left: 0px;
	top: 0px;
	padding:6px;
	height: 300px;
}

/* front page SOCIAM description */
.front-text h3 {
	font-size: 1.3em;
	font-weight: 220;
	line-height: 120%;
}


.col-sm-12 {
  	 padding-left: 0px;
   	 padding-right:0px;
}

/* captions on themes grid - position and remove text shadow*/
.front-page-themes .carousel-caption
{
	text-align: left;
	left: 30px;
	top: 0px;
	padding: 0px;
	text-shadow: 0 0px 0px rgba(0,0,0,0);
}

/* remove spacing between columns on theme grid and highlight grid */
.front-page-themes div.col,
.theme-showcase div.col {
	margin: 0px;
	padding: 0px;
}

/* PROJECT HIGHLIGHT GRID */
/* captions of the showcased projects */
.theme-showcase .carousel-caption h3 {
	color: white;
	text-shadow: 0 0px 0px rgba(0,0,0,0); /*remove text shadow*/
	background-color: rgba(0,0,0,0.5); /* create dark overlay */
	margin-left: 10%;
	margin-right: 10%;
	padding: 2%;
	/*width: 90%;*/
	text-align: center;
}

/* make linked titles white instead of blue */
.theme-showcase a {
	color: #FFF;
}

/* add some whitespace before the first showcase block */
.block-computation-showcase {
	margin-top: 60px;
}

/* REMOVED - this is for coloring the backgrounds if wanted
.block-computation-showcase, 
.block-computation-showcase div.view-content {
	margin: 0px;
	background-color: #D6d600;
}
.block-data-curation-showcase, 
.block-data-curation-showcase div.view-content {
	margin: 0px;
	background-color: #9b35ce;
} 
.block-privacy-showcase, 
.block-privacy-showcase div.view-content {
	background-color: #E02323;
}
.block-interaction-showcase, 
.block-interaction-showcase div.view-content {
	background-color: #17d8d5;
}
.block-implementation-showcase, 
.block-implementation-showcase div.view-content {
	background-color: #47ce35;
}
.block-observatory-showcase, 
.block-observatory-showcase div.view-content {
	background-color: #0232ae;
}*/

/* ******** END OF FRONT PAGE STYLING **** */




/* ********** PROJECTS PAGE ********* */

/*Styling for projects page filter*/

#edit-term-node-tid-depth-wrapper .form-item {
        border: none;
	font-size: 1.08em;
	font-weight: 300;
}  

#edit-term-node-tid-depth-wrapper a {
	color: #fff;
	padding: 5px;
}  

#edit-term-node-tid-depth-wrapper .form-item-edit-term-node-tid-depth-116 a {
        background-color: #e02323 
}  

#edit-term-node-tid-depth-wrapper .form-item-edit-term-node-tid-depth-115 a {
        background-color: #17d8b5 
} 

#edit-term-node-tid-depth-wrapper .form-item-edit-term-node-tid-depth-117 a {
        background-color: #9b35ce 
} 

#edit-term-node-tid-depth-wrapper .form-item-edit-term-node-tid-depth-118 a {
        background-color: #d6d600 
} 

#edit-term-node-tid-depth-wrapper .form-item-edit-term-node-tid-depth-119 a {
        background-color: #47ce35 
}

#edit-term-node-tid-depth-wrapper .form-item-edit-term-node-tid-depth-120 a {
        background-color: #0232ae 
}  

/* style the text overlay on the project images */
.projects-page .carousel-caption h3 {
	color: white;
	background-color: rgba(0,0,0,0.5); /* create dark overlay */
	margin-left: 0%;
	margin-right: 0%;
	padding: 0%;
	text-align: left;
	font-size: 1.3em;/*Styling for projects on projects page*/
}

#block-block-2 .row {
	margin-top: 2em;
	margin-bottom: 3em;
}

/*
#views-bootstrap-grid-2 .row {
	margin-top: 2em;
}*/
/*
#block-block-2 .col-md-6 {
	padding-left: 0px;
}*/

/*
#views-bootstrap-grid-1 a {
	color:#000;
}*/



/*********** PROJECTS PAGE *****************/
/* the individual elements for showing projects associated with themes */
div.form-item .form-group {
	display: inline-block; /* show them inline */
	margin: 10px;
	border: 3px solid #73AD21;
}

/* the label */
.views-exposed-widget label {
	margin-top: 5px;
	font-size: 30px;
	font-weight:200;
}

/*
#views-bootstrap-grid-1 .col-lg-2 {
	padding-left: 0px;
	padding-right: 0px
}*/

/* the 'view all' or 'reset' button */
.views-reset-button {

}


