/**
 * Place your custom styles here.
 */

/* Admin Backend */




/* **********FRONT PAGE *************** */
/* the footer */
.region-footer {
	text-align: right; /*align the EPSRC etc text to the right*/
}

/* login menu in the footer */
.login-menu li {
	font-size: 0.9em;
	float: right;   /* position the menu links horisontally */
}

/* user login menu in the page header */
.page-header {
	display:none; /* don't display it */
}

/* the main menu navbar */
[role=navigation] .navbar-nav {
	float: right; /* position it to the right */
}

/* make all h3 headlines skinnier */
h3 {
	font-weight:200;
}

/* front page carousel text */
.front-page-carousel .carousel-caption {
        background-color: rgba(0,0,0,0.5); /* create dark overlay */
        font-size: 5em;
	right: 75.6%;
	left: 0px;
	top: 0px;
	padding:6px;
	height: 300px;
}

/* front page SOCIAM description */
.front-text h3 {
	font-size: 1.3em;
	font-weight: 220;
	line-height: 120%;
}

/*
#block-views-front-image-block h3 {
	color: white;
	padding:1px;
	padding-left:14px;
	margin-top: 0px;
	font-size:2em;
} */

.col-sm-12 {
  	 padding-left: 0px;
   	 padding-right:0px;
}


/*remove text shadow for the themes grid and the theme showcase grid*/
.front-page-themes .carousel-caption,
.front-page-showcase .carousel-caption
{
	text-align: left;
	left: 16px;
	top: -5px;
	padding: 0px;
	text-shadow: 0 0px 0px rgba(0,0,0,0);
}

/* Styling of the project highlight grid */
.front-page-showcase .row {
	padding-top: 2em;
	padding-bottom: 2em;
}

/* This section adds the theme colors to each of the rows in the highlight section */
/*
#views-bootstrap-grid-2 div:nth-child(1) {
	background-color: #9b35ce	
}

#views-bootstrap-grid-2 .row:nth-child(2) {
        background-color: #e02323       
}

#views-bootstrap-grid-2 .row:nth-child(3) {
        background-color: #17d8b5       
}

#views-bootstrap-grid-2 .row:nth-child(4) {
        background-color: #02323ae       
}

#views-bootstrap-grid-2 .row:nth-child(5) {
        background-color: #47ce35       
}

#views-bootstrap-grid-2 .row:nth-child(6) {
        background-color: #d6d600       
}
*/
/*
[role=banner] .carousel-caption {
	left: 26px;
}*/


#block-block-2 .row {
	margin-top: 2em;
	margin-bottom: 3em;
}

#views-bootstrap-grid-1 .col-lg-3 ,#views-bootstrap-grid-2 .col-lg-3 {
        margin: 0px;
        padding: 0px;
}

#views-bootstrap-grid-2 .row {
	margin-top: 2em;
}

#block-block-2 .col-md-6 {
	padding-left: 0px;
}

/*
#views-bootstrap-grid-1 a {
	color:#000;
}*/


[role=navigation] .secondary {
	display: none;
}

/* below is test styling for Ulrik's implementation of the front page showcase */
/* grab titles of the showcased projects */
.theme-showcase .carousel-caption h3 {
	color: white;
	background-color: rgba(0,0,0,0.5); /* create dark overlay */
	margin-left: 10%;
	margin-right: 10%;
	padding: 2%;
	/*width: 90%;*/
	text-align: center;
}

/* make colored background of each block */
.test-computation-showcase, 
.test-computation-showcase div.view-content {
	background-color: #9b35ce;
	margin: 2em;
}
.test-curation-showcase, 
.test-curation-showcase div.view-content {
	background-color: #0232ae;
	margin: 2em;
}
.test-privacy-showcase, 
.test-privacy-showcase div.view-content {
	background-color: #E02323;
	margin: 2em;
}
.test-interaction-showcase, 
.test-interaction-showcase div.view-content {
	background-color: #17d8d5;
	margin: 2em;
}
.test-implementation-showcase, 
.test-implementation-showcase div.view-content {
	background-color: #47ce35;
	margin: 2em;
}
.test-observatory-showcase, 
.test-observatory-showcase div.view-content {
	background-color: #D6d600;
	margin: 2em;
}

/*********** PROJECTS PAGE *****************/
/* the individual elements for showing projects associated with themes */
div.form-item .form-group {
	display: inline-block; /* show them inline */
	margin: 10px;
	border: 3px solid #73AD21;
}

/* the label */
.views-exposed-widget label {
	margin-top: 5px;
	font-size: 30px;
}

/* the 'view all' or 'reset' button */
.views-reset-button {

}

/* style the text overlay on the project images */
.projects-page .carousel-caption h3 {
	color: white;
	background-color: rgba(0,0,0,0.5); /* create dark overlay */
	margin-left: 10%;
	margin-right: 10%;
	padding: 2%;
	/*width: 90%;*/
	text-align: center;
	font-size: 1.3em;
}
