/* Admin Backend */

/***** STYLING DOC INDEX ***** 
	1. Global Font and margin styling
	2. Front page
	3. Research page
	4. About page
****************************** */

/* **********1 GLOBAL FONT AND MARGIN STYLING******** */
/* make all h2 skinnier */
h2 {
	font-weight:200;
}

/* make all h3 headlines skinnier and remove text shadow*/
h3 {
	font-weight:200;
	text-shadow: 0 0px 0px rgba(0,0,0,0);
	text-align: left;
}

/* move the main container up under the nav bar */
.main-container {
	margin-top: -13px;
}
/* make the navbar border more subtle */
.navbar {
	border-color: rgba(0,0,0,0.2);
}

/* add styling for big dramatic quote on about page */
blockquote {
    /*font-family: Georgia, serif;*/
	font-size: 18px;
	font-style: italic;
	width: 95%;;
	margin: 0.25em 0;
	padding: 0.35em 40px;
	line-height: 1.45;
 	position: relative;
	color: #383838;
	border-left: 0px solid #fff
	padding-right: 0px;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/* keep the site full width */
.col-sm-12 {
  	 padding-left: 0px;
   	 padding-right: 0px;
}

/* **********2 FRONT PAGE *************** */
/* the footer */
.region-footer {
	text-align: right; /*align the EPSRC etc text to the right*/
}

/* LOGIN MENUS */
/* login menu in the footer */
.login-menu li {
	font-size: 0.9em;
	float: right;   /* position the menu links horizontally */
}

/* user login menu in the page header - don't display it */
.page-header, [role=navigation] .secondary {
	display:none;
}

/* the main menu navbar */
[role=navigation] .navbar-nav {
	float: right; /* position it to the right */
}

/******CAROUSEL*******/
/* make the image full width */
.front-page-carousel img {
  width:100%;
}


/* front page carousel text */
.front-page-carousel .carousel-caption {
    background-color: rgba(0,0,0,0.5); /* create dark overlay */
    text-align:left;

       /* font-size: 5em; */
	/*	right: 75.6%; */
	/*	left: 0px;*/
    /* top: 0px; */
	
	/* padding:16px; */
	/* height: 800px; */ /* make the background darkness full-height */ 
	/* max changes : */

	/*top:140px;*/
	/* top:9.5vw; */ /* 45%; */
	padding:0.5vw 0px 0px 25px;
	font-weight:bold;
	top:auto;
	left:24%;
	right:0px;
	bottom:0px;
	height:40%;
}
.front-page-carousel .carousel-caption h3 {
   /* font-size:32pt; */
    font-size:2.8vw;
    margin:0.8vw 0px 0px 0px;
}
.front-page-carousel .carousel-caption p {
    padding:0px;
    margin:0px;
    font-weight:200;
    /*  font-size:21pt; */  
    font-size:1.4vw;
}

/* SOCIAM DESCRIPTION */
/* add white space */
.front-text {
	margin-top: 60px;
	margin-bottom: 60px;
/* tweak the font */
}
.front-text p {
  font-size: 1.3em;
  font-weight: 200;
  margin-left: 5px;
  padding: 0;
}


/* captions on themes grid, and themes image on showcase grid - position */
.theme-grid .carousel-caption,
.theme-showcase .row .col:nth-child(1) .carousel-caption,
.theme-banners .carousel-caption {
	text-align: left;
	left: 20px;
	top: 0px;
	padding: 0px;
}

/* make linked text slightly lighter on hover */
.theme-grid .row .col:hover a,
.theme-showcase .row .col:hover a {
	opacity: 0.7;
}

/* hide the title of the 2nd themes image on the themes grid *****
Selector goes to the themes grid  view, picks the second row, picks the first
column in that row, and then picks the carousel caption and hides it */
.theme-grid.front-page .row:nth-child(2) .col:nth-child(1) .carousel-caption {
	display: none;
}

/* COLOR THE THEME GRIDS */
/* make the image placeholder files fully see-through*/
.theme-grid img,
.theme-showcase img {
  opacity: 0;
}

/* then add background color - first the theme titles.
This is a slightly darker orange to avid clash w/ yellow
privacy-theme  */
.theme-grid.front-page .row:nth-child(1) .col:nth-child(1) {
  background-color: #FF7800;
}
.theme-grid.front-page .row:nth-child(2) .col:nth-child(1) {
  background-color: #FF7800;  
}

/* CURRENT OPTION - tweaked GOOGLE SCHEME, slightly darker
blue, red, and purple for readability */
/* this colors theme grids on front page and research page,
and columns for theme-showcase on front page */
.theme-grid.front-page .row:nth-child(1) .col:nth-child(2),
.block-computation-showcase .col,
.theme-grid.research-page-themes .row:nth-child(1) .col:nth-child(1) {
  background-color: #256ad6;  
}

.theme-grid.front-page .row:nth-child(1) .col:nth-child(3),
.block-data-curation-showcase .col,
.theme-grid.research-page-themes .row:nth-child(1) .col:nth-child(2) {
  background-color: #318c07;  
}

.theme-grid.front-page .row:nth-child(1) .col:nth-child(4),
.block-privacy-showcase,
.theme-grid.research-page-themes .row:nth-child(1) .col:nth-child(3) {
  background-color: #F2A20B;  
}
 
.theme-grid.front-page .row:nth-child(2) .col:nth-child(2),
.block-interaction-showcase .col,
.theme-grid.research-page-themes .row:nth-child(2) .col:nth-child(1) {
  background-color: #b41214;  
}

.theme-grid.front-page .row:nth-child(2) .col:nth-child(3),
.block-implementation-showcase .col,
.theme-grid.research-page-themes .row:nth-child(2) .col:nth-child(2) {
  background-color: #93299f;  
}

.theme-grid.front-page .row:nth-child(2) .col:nth-child(4),
.block-observatory-showcase .col,
.theme-grid.research-page-themes .row:nth-child(2) .col:nth-child(3) {
  background-color: #868686;  
}
/* PREVIOUS OPTION (GOOGLE SCHEME) */
/*
.front-page-themes .row:nth-child(1) .col:nth-child(2) {
  background-color: #0E71F2;  
}

.front-page-themes .row:nth-child(1) .col:nth-child(3) {
  background-color: #318C07;  
}

.front-page-themes .row:nth-child(1) .col:nth-child(4) {
  background-color: #F2A20B;  
}
 
.front-page-themes .row:nth-child(2) .col:nth-child(2) {
  background-color: #D82929;  
}

.front-page-themes .row:nth-child(2) .col:nth-child(3) {
  background-color: #9b35ce;  
}

.front-page-themes .row:nth-child(2) .col:nth-child(4) {
  background-color: #868686;  
}*/

/* ALT OPTION - DIFF COLOR PALETTE */
/*
.front-page-themes .row:nth-child(1) .col:nth-child(2) {
  background-color: #1b6d0c;  
}

.front-page-themes .row:nth-child(1) .col:nth-child(3) {
  background-color: #f4c200;  
}

.front-page-themes .row:nth-child(1) .col:nth-child(4) {
  background-color: #9d9d9d;  
}
 
.front-page-themes .row:nth-child(2) .col:nth-child(2) {
  background-color: #bc0000;  
}

.front-page-themes .row:nth-child(2) .col:nth-child(3) {
  background-color: #4a1700;  
}

.front-page-themes .row:nth-child(2) .col:nth-child(4) {
  background-color: #181e48;  
}*/


/* remove spacing between columns on theme grid and showcase grid */
.front-page-themes .col,
.theme-showcase .col {
	margin: 0px;
	padding: 0px;
}

/* PROJECT SHOWCASE GRID */
/* captions of the showcased projects */
.theme-showcase .row .col:nth-child(2) .carousel-caption,
.theme-showcase .row .col:nth-child(3) .carousel-caption,
.theme-showcase .row .col:nth-child(4) .carousel-caption {
	right: 0px;
	left: 0px;

	top: 0px;
	/* max changed this to try thicker ones >> 
	       	    height: 30px; 
		    padding: 5px 20px 4px 5px;
        */
	height:49px;
	padding: 16px 0px 0px 0px;
	overflow: hidden;
}
.theme-showcase .row .col:nth-child(2) .carousel-caption h3,
.theme-showcase .row .col:nth-child(3) .carousel-caption h3,
.theme-showcase .row .col:nth-child(4) .carousel-caption h3 {
	color: #FFF;;
	margin-left: 0%;
	margin-right: 0%;
	padding: 0px;
	font-size: 13pt;
	position: relative;
	font-weight: 400;
	text-align: left;
	margin: 0px;
}
.theme-showcase .row .col:nth-child(2) .carousel-caption h3 a,
.theme-showcase .row .col:nth-child(3) .carousel-caption h3 a,
.theme-showcase .row .col:nth-child(4) .carousel-caption h3 a {
    text-decoration:none;
}

/* apply background color to captions */
/* CURRENT OPTION - TWEAKED GOOGLE COLOR SCHEME */
.block-computation-showcase .carousel-caption,
.computation-project-grid .carousel-caption {
	background-color: #256ad6;
}
.block-data-curation-showcase .carousel-caption,
.data-curation-project-grid .carousel-caption {
	background-color: #318C07;
}
.block-privacy-showcase .carousel-caption,
.privacy-project-grid .carousel-caption {
	background-color: #F2A20B;
}
.block-interaction-showcase .carousel-caption,
.interaction-project-grid .carousel-caption {
	background-color: #b41214;
}
.block-implementation-showcase .carousel-caption,
.implementation-project-grid .carousel-caption {
	background-color: #93299f;
}
.block-observatory-showcase .carousel-caption,
.observatory-project-grid .carousel-caption {
	background-color: #868686;
}
/* PREVIOUS OPTION - GOOGLE COLOR SCHEME */
/*
.block-computation-showcase .carousel-caption,
.computation-project-grid .carousel-caption {
	background-color: #0E71F2;
}
.block-data-curation-showcase .carousel-caption,
.data-curation-project-grid .carousel-caption {
	background-color: #318C07;
}
.block-privacy-showcase .carousel-caption,
.privacy-project-grid .carousel-caption {
	background-color: #F2A20B;
}
.block-interaction-showcase .carousel-caption,
.interaction-project-grid .carousel-caption {
	background-color: #D82929;
}
.block-implementation-showcase .carousel-caption,
.implementation-project-grid .carousel-caption {
	background-color: #9b35ce;
}
.block-observatory-showcase .carousel-caption,
.observatory-project-grid .carousel-caption {
	background-color: #868686;
}*/

/* make linked titles white instead of blue */
.theme-grid.front-page a,
.theme-showcase a,
.theme-grid a {
	color: #FFF;
}

/* add some whitespace before the first showcase block */
.block-computation-showcase {
	margin-top: 60px;
}

/* add some whitespace in between each showcase block */
.theme-showcase {
	margin-bottom: 0px;
}

.theme-showcase .row .col:nth-child(2) img,
.theme-showcase .row .col:nth-child(3) img,
.theme-showcase .row .col:nth-child(4) img {
	opacity: 1;
	filter: brightness(100%);
	transition: filter 0.05s;
}
.theme-showcase .row .col:hover:nth-child(2) img,
.theme-showcase .row .col:hover:nth-child(3) img,
.theme-showcase .row .col:hover:nth-child(4) img {
	opacity: 1;
	filter: brightness(50%);
	transition: filter 0.05s;
}


/* ******** END OF FRONT PAGE STYLING **** */

/* ********** 3 RESEARCH PAGE ********* */

/* BANNER ON THE TOP */
.research-page-banner img {
  height: 70px;
}
.research-page-banner .carousel-caption {
  text-align: left;
  left: 40px;
  top: 0px;
  padding: 0px;
}

/* the whole top panel - theme text to the left, theme grid to the right*/
.two-col-research-panel {
	margin-top: 60px;
	margin-left: 50px;
	margin-right: 50px;
}
/* the theme text to the left */
.two-col-research-panel .panel-theme-text {
	margin-left: 0px;
	margin-right: 100px;
} /* and the actual inner text of the theme text to the left */
.two-col-research-panel .panel-theme-text p {
	font-size: 1.3em;
	font-weight: 200;
	padding-top: 20px;
}

/* the theme grid to the right */
.two-col-research-panel .two-col-research-theme-grid {
	margin-top: 25px;
}
/* make this grid show text of social implementation- shouldn't be overridden like on the front page */
.two-col-research-panel .two-col-research-theme-grid .row:nth-child(2) .col:nth-child(1) .carousel-caption {
	display: inline;
}
.two-col-research-panel .two-col-research-them-grid .carousel-caption {
	left: 0px;
	right: 0px;
	top: 0px;
}
/* the 'theme 1' etc text */
.two-col-research-panel .two-col-research-theme-grid .carousel-caption h3 {
	font-size: 1em;
	margin: 15px 0px 5px 0px;
}
.two-col-research-panel .two-col-research-theme-grid .carousel-caption p {
	text-shadow: 0 0px 0px rgba(0,0,0,0);
	font-size: 1.3em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

/* position the jump-to anchors a bit higher so navbar doesn't get in the way */
a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

/* ******** 3.1 INDIVIDUAL THEMES ***** */
/* put some whitespace before each block of themes and their projects*/
.block-mini-panel-theme {
	margin-top: 100px;
}
/*the image region on the theme mini-panel (left column - it's the theme banner) */
.block-mini-panel-theme .panel-theme-image {
	margin-right: 50px;
}
/* reduce the height of the theme banner a bit */
.block-mini-panel-theme .panel-theme-image img {
	height: 70px;
}
/* move the headline in with the grid */
.block-mini-panel-theme .panel-theme-image h3 {
	margin-left: 40px;
}
/*the text region on theme mini-panel (left column) */
.block-mini-panel-theme .panel-theme-text {
	margin-right: 100px;
	margin-left: 50px;
}
/* style the text region on the theme mini-panel (left column) */
.block-mini-panel-theme .panel-theme-text p {
	font-size: 1.3em;
	font-weight: 200;
}
/* give the theme projects a bit spacing to the right */
.block-mini-panel-theme .panel-theme-projects {
	margin-right: 50px;
}
/*the columns of the projects region (right) of the theme mini panel*/
.panel-theme-projects .col {
	margin: 0px;
	padding: 0px;
}
/* style captions */
.panel-theme-projects .carousel-caption {
	/*background-color: rgba(255,245,0,0.8);*/
	right: 0px;
	left: 0px;
	top: 0px;
	/* max changed this: 
	padding: 5px 5px 4px 5px;
	height: 25px;
       */
	padding: 5px 0px 0px 5px;
	height: 30px;
	overflow: hidden;
}
.panel-theme-projects .carousel-caption h3 {
	margin-left: 0%;
	margin-right: 0%
	padding: 0px;
	font-size: 13pt;
	font-weight:400;
	position: relative;
	color: black;
	margin: 0;
	text-align: left;
}
/* make the images darker on hover */
.panel-theme-projects img {
	opacity: 1;
	filter: brightness(100%);
	transition: filter 0.05s;
}
.panel-theme-projects .col:hover img {
	opacity: 1;
	filter: brightness(50%);
	transition: filter 0.05s;
}

/* make linked titles white */
.panel-theme-projects a {
	color: #FFF;
}
/* make linked text lighter on hover */
.panel-theme-projects .row .col:hover a {
	opacity: 0.7;
}

/*    3.2. INDIVIDUAL PROJECT PAGES   */
/****** the mini panel for a project  ******/
/* left column top */
.project-page .panel-col-first .field-content {
	width: 100%;
}
.project-page .panel-col-first .inside {
	margin-top: 40px;
	margin-left: 100px;
}
/* right column top */
.project-page .panel-col-last .inside {
	margin-top: 40px;
	margin-right: 100px;
}
/* remove padding for text panel */ 
.project-page .panel-col-last .panel-theme-text {
	margin-left: 0px;
	margin-bottom: 40px;
}
.project-page .pane-project-investigators .view-content {
	margin: 20px 0px 0px 15px;
	padding: 0px;
}
.project-page .pane-project-investigators .col {
	margin: 0px ;
	padding: 0px;
}
/* text on the investigator images */
.project-page .pane-project-investigators .carousel-caption  {
    background-color: rgba(0,0,0,0.6); /* create dark overlay */
    bottom:0px; left: 0px; right:0px;
    height:32%;
    padding:2px 0px 0px 4px;
    text-align:bottom;
}
.project-page .pane-project-investigators .carousel-caption h3 {
    /* background-color: rgba(0,0,0,0.5); */ /* create dark overlay */
    padding:0px; margin:0px;
    font-size: 11pt;
    line-height:0.9;
    position: relative;
    font-weight:300;
/*	top: 55px; */
}
.project-page .pane-project-investigators .carousel-caption a {
	color: #FFF;
}
.project-page .project-publications {
	margin: 0px;
	padding: 0px;
}
/* style text */
.project-page .panel-col-last h3 {
	font-size: 1.4em;
	font-weight: 220;
	line-height: 120%;
}
.project-page thead th {
	font-size: 30px;
	font-weight: 200;
	font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
}
/* pull the Publications headline in line with the other headlines */
.project-page thead .views-field-citation {
	padding: 0;
	margin: 0;
}
/* border under the project, investigator and publications titles */
.project-page .pane-title,
.project-page thead tr th {
	border-bottom: 1px solid #ddd;
}
/* remove border around image */
.project-page .panel-col-first tbody tr td {
	border: none;
}
.project-page tbody tr td {
	border-top: 2px solid #FFF;
	padding: 12px 0 0 0;
}
/* style table - remove grey background color for odd rows */
.project-page tbody tr:nth-of-type(odd) {
	background-color: #FFF;
}

.video-grid-project-page iframe {
  width: 100%;
  height: 56.25%;
}
.video-grid-project-page .col {
  margin: 0px 0px 0px 0px;
  padding: 0 25px 40px 20px;
  
}
.video-grid-project-page {
  margin-right: 90px;
}


/***************** 4 PUBLICATIONS PAGE ***************/

/* filter text labels */
.block-publications label {
	font-size: 1.4em;
	font-weight: 200;
}

/* option text */
.block-publications .firstUnit option {
	font-size: 14px;
}
/* make the forms the same height */
.block-publications .form-select {
	height: 8em;
	overflow: auto;
	font-size: 1em;
	padding: 0;
}

/* the filters to the left - add a bit of whitespace and make sure they show vertically */
.block-publications .firstUnit .views-exposed-widget {
	margin-bottom: 20px;
	display: block;
	clear: both;
}

/* add a bit of whitespace to the left */
.block-publications .views-exposed-form {
	margin-top: 0px;
	margin-left: 30px;
}
/* add a bit of whitespace before showing the publication results */
.block-publications .lastUnit .view-content {
	margin-top: 30px;
}

/* style table - remove grey background color for odd rows */
.block-publications tbody tr:nth-of-type(odd) {
	background-color: #FFF;
}
/* make the rows the same background color on hover */
.block-publications tbody tr:hover {
	background-color: #f5f5f5;
}
/* make the borders white */
.block-publications tbody td {
	border: 1px solid #FFF;
}

/***** POSITION THE FILTERS ******/
/* for the left column, don't display the search filter */
.block-publications .firstUnit .views-exposed-widget:nth-child(4) {
	display: none;
}
/* put the reset button in it's own block */
.block-publications .firstUnit .views-exposed-widget,
.block-publications .firstUnit .views-reset-button {
	display: block;
	float: left;
}
.block-publications .firstUnit .views-submit-button {
	display: none;
}
.block-publications .firstUnit .views-reset-button {
	clear: both;
	margin: 0px;
	padding: 0px;
}

/* in the right column, don't display the type, theme, and project strand filters */
.block-publications .lastUnit .views-exposed-widget:nth-child(1),
.block-publications .lastUnit .views-exposed-widget:nth-child(2),
.block-publications .lastUnit .views-exposed-widget:nth-child(3),
.block-publications .lastUnit .views-reset-button {
	display: none;
}

/* remove the margin from the search block */
.block-publications .lastUnit .views-exposed-form {
	margin: 0px;
}
/* move the right col a bit to the left */
.block-publications .lastUnit {
	position: relative;
	left: -10px;
}
/* there's a weird line at the bottom - kill it */
.block-publications .panel-line {
	display: none;
}
.block-publications .firstUnit select {
	border: 0;
	box-shadow: none;
}
.block-publications .lastUnit .views-submit-button {
	display: none;
}

/******************ABOUT PAGE *********************/
/* this image is just there to make column alignment work */
#hide-nigel {
	visibility: hidden;
}

/* project description */
.about-social-machines-text {
	margin: 60px 50px 0px 0px;
	padding: 0px;
}
.about-social-machines-text p {
	font-size: 1.3em;
	font-weight: 200;
	line-height: 120%;
}
.about-social-machines-text blockquote h3 {
	font-size: 1.2em
}

/* add a bit of space before the team blocks */
.nigel-block {
	margin-bottom: 60px;
}
/* set nigel's div to relative position */
.nigel-block .nigel-photo-pane .col-lg-12 {
	position: relative;
}
/* position nigel */
.nigel-block .nigel-photo-pane .col-lg-12 img {
	position: absolute;
	top: 10px;
	left: 33%;
	width: 200px;
} 

/* position nigel's caption */
.nigel-block .nigel-photo-pane .col-lg-12 div.carousel-caption {
	position: absolute;
	top: 170px;
	left: 33%;
	width: 200px;
	height: 40px;
	padding: 0;
	background-color: rgba(0,0,0,0.5);
}
.nigel-block .nigel-photo-pane h3 {
	font-size: 1.2em;
	padding-bottom: 10;
}
/* give nigel's bio the same 50px margin as the project description */
.nigel-block .nigel-bio-pane {
	margin: 0px 50px 0px 0px;
	padding: 0px;
}
/* style the title for nigel's bio */
.nigel-block .nigel-bio-pane .pane-title {
	font-size: 1.7em;
	font-weight: 220;
	margin-top: 30px;
} /* set the font of nigel's bio to be similar to the project description */
.nigel-block .nigel-bio-pane .field-content h3 {
	font-size: 1.3em;
	font-weight: 200;
	line-height: 120%;
	margin-top: 0px;
}

/* do some styling of uni logos */
.uni-and-big-dogs .uni-logo {
	width: 70%;
	padding: 15px 0px 20px 50px;
}
/* do some styling of co-investigator images */
.bigdog-headshots {
	padding-left: 50px;
}
/* add padding to co-investigator bios */
.bigdog-bios {
	padding: 10px 50px 10px 50px;
}

/*****TEAM IMAGES*******/
/*Remove margins on team images*/
.team-image-panel .col-lg-3 {
	padding-left: 0px;
	padding-right: 0px;
}
.team-image-panel .pane-content {
	padding: 10px 50px 0px 50px;
	margin-left: 15px;
}
/* make 'Team' headlines white */
.team-image-panel h2 {
	color: #fff;
	font-weight: 100;
	font-size: 2em;
	margin-left: 50px;
}
.team-image-panel .pane-title {
	font-size: 18px;
}

.team-image-panel .team-title .pane-content {
	margin: 0;
}
.team-image-panel .team-title h2 {
	margin: 0;
	padding: 0;
}

/* style the caption text */
.team-image-panel .carousel-caption h3 {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}
.team-image-panel .carousel-caption p {
	text-shadow: 0 0px 0px rgba(0,0,0,0);
	font-weight: 200;
	font-size: 0.8em;
}
/* hide the names, make them visible on hover */
.team-image-panel .carousel-caption h3 {
	visibility: hidden;
}
.team-image-panel .col:hover h3 {
	visibility: visible;
	color: #FFF;
}
/* make linked names appear white instead of blue */
.team-image-panel a {
	color: #FFF;
}

/* the whole carousel caption */
.team-image-panel .carousel-caption {
	visibility: hidden;
	text-align: left;
	right: 0px;
	left: 0px;
	bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	color: rgba(0,0,0,0);
}
/* make it visible on hover */
.team-image-panel .col-lg-3:hover .carousel-caption {
	visibility: visible;
	color: #FFF;
	background-color: rgba(0,0,0,0.5);
}

/* hide the placeholder text in the nigel and advisory mini panels */
.hide-text {
	visibility: hidden;
}

/****ADVISORY BOARD******/
/* style advisory board title */
.panel-advisors-and-partners .advisory-title {
	margin-top: 80px;
}

/* style the chair + board members titles */
.panel-advisors-and-partners .sub-heading  .pane-title {
	font-size: 1.5em;
	font-weight: 200;
	margin-top: 20px;
	margin-bottom: 10px;
}
/* remove spacing between images of advisors */
.panel-advisors-and-partners .advisory-view .col {
	margin: 0px;
	padding: 0px;
} /* add a bit of whitespace to each side */
.panel-advisors-and-partners .advisory-view {
	padding-left: 15px;
	padding-right: 50px;
}
/* style the caption text */
.panel-advisors-and-partners .carousel-caption h3 {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}
/* position their captions at the bottom */
.panel-advisors-and-partners .carousel-caption {
	right: 0;
	padding: 4px 3px 4px 7px;
	margin: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.4);
	bottom: 0px;
}
.partners-grid {
	margin-top: 80px;
}
.partners-grid img {
	padding: 35px;
}

/*background colours of bio panels*/

#mini-panel-mini_panel_test_ {
	color: #fff   /*make all text white to be visible */
}

#mini-panel-mini_panel_test_ .panel-col-first {
	background-color: #002147; /*ox blue*/
}

#mini-panel-mini_panel_test_ .panel-col {
	background-color: #005c84; /*soton blue*/
	width: 34%;		/*make mini-panels sum to full-width (33+34+33=100)*/
}

#mini-panel-mini_panel_test_ .panel-col-last {
	background-color: #000;	/*edinburgh black*/
}

/*team panel*/
#mini-panel-team_panel .panel-col {
	width: 34%;
	background-color: #005c84;
}

#mini-panel-team_panel .panel-col-first {
	background-color: #002147; /*ox blue*/
}

#mini-panel-team_panel .panel-col-last {
        background-color: #000; /*edinburgh black*/
}
  

